.wrapper {
  max-width: 1440px;
  /* max-height: 1080px; */
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  overflow: clip;
  transition: 0.3s;
}

.wrapper_auth {
  display: grid;
  grid-template-columns: 10.4% 89.5%;
  grid-template-rows: 100%;
}

.wrapper_folded {
  grid-template-columns: 3.7% 96.2%;
}

@media screen and (max-width: 1440px) {
  .wrapper {
    max-width: 1440px;
  }

  .wrapper_auth {
    grid-template-columns: 13.9% 86%;
  }

  .wrapper_folded {
    grid-template-columns: 5% 94.9%;
  }
}

@media screen and (max-width: 1280px) {
  .wrapper {
    max-width: 1280px;
  }

  .wrapper_auth {
    grid-template-columns: 15.6% 84.3%;
  }

  .wrapper_folded {
    grid-template-columns: 4.1% 95.8%;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 768px;
  }
}

@media screen and (max-width: 375px) {
  .wrapper {
    max-width: 360px;
  }
}
